@media (min-width:640px){
  #menu-main {
    background: $color__lightest;
    background-image: url(img/stripes-lt.png);
    padding-top: 1rem;
    text-align: right;
    height: 7rem;
    border-bottom: 3px solid $color__darkest;
  }
  #menu-main li {
    display: inline;
    background: none;
    border:none;
    padding-left: 3rem;
    padding-right: 1rem;
    font-size: 3rem;
  }
}