@media (min-width:768px) {
    #menu-main {
      padding-top: 2.2rem;
      height: 11rem;
    }
    #menu-main li {
      padding-left: 5rem;
      padding-right: 2rem;
      font-size: 4rem;
    }

  .header-image {
    height: 800px;
  }
  .site-title {
    font-size: 18rem;
    padding-top: 22rem;
  }
}