/**
 * 4.1 - Header
 */

.header-image {
  height: 800px;
  width: 100%;
}
.site-title {
}
#menu-main {
  padding: 0;
  margin: auto;
}
#menu-main li {
  text-align: center;
  display: block;
  width: 100%;
}
